<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430455547992-digdehufftknf27cie9obdh12vacduok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430455547992-digdehufftknf27cie9obdh12vacduok</string>
	<key>API_KEY</key>
	<string>AIzaSyCAQXIuz4rRur3LSfKRqtb5oL_egR4c7kY</string>
	<key>GCM_SENDER_ID</key>
	<string>430455547992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mystudylife.app</string>
	<key>PROJECT_ID</key>
	<string>my-study-life-5932b</string>
	<key>STORAGE_BUCKET</key>
	<string>my-study-life-5932b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430455547992:ios:c5af102f9a6c97a061c22d</string>
	<key>DATABASE_URL</key>
	<string>https://my-study-life-5932b.firebaseio.com</string>
</dict>
</plist>